parameters:
    level: 5
    paths:
        - app
        - database
        - config
        - routes

    # Исключить папки или файлы, которые не нужно анализировать
    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
